/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 30%;
}
body{
  background-color: black;
  color: white;
  background-image: url(../images/mountaineer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: coral;
}
a:hover {
  color: coral;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body > nav {
  height: 4rem;
  display: flex;
  justify-content:  center;
  align-items: center;
  font-variant: small-caps;
  background-color: transparent;
}
nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 4rem;
}

/****************/

.hero {
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero > section {
  width: 40%;
  margin: .2rem;
}
.hero h1 {
  font-size: 2rem;
}
/**********/
.about-me {
  
}
/**********/

#projects {

}
.container {
  background-color: ivory;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project1, .project2, .project3 {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div > header {
  margin: 3rem;
  font-size: 4rem;
}